@charset "UTF-8";
.w-pct80 { width: 80% }
.w-pct70 { width: 70% }
.w-pct60 { width: 60% }
.w-pct50 { width: 50% }
.w-pct40 { width: 40% }

.w-px40 { width: 40px }
.w-px60 { width: 60px }
.w-px80 { width: 80px }
.w-px100 { width: 100px }
.w-px120 { width: 120px }
.w-px140 { width: 140px }
.w-px160 { width: 160px }
.w-px180 { width: 180px }
.w-px200 { width: 200px }
.w-px220 { width: 220px }
.w-px250 { width: 250px }
.w-px300 { width: 300px }
.w-px350 { width: 350px }
.w-px400 { width: 400px }
.w-px450 { width: 450px }
.w-px500 { width: 500px }
.w-px600 { width: 600px }
.w-px800 { width: 800px }
.w-px1000 { width: 1000px }
.w-px1200 { width: 1200px }
.delete-file { display: none; }

.border-light-1 { border: 1px solid #dee2e6 !important }

ul { list-style: none; align-items: center; padding:0 ;}
/* .txt-left { text-align: left; }
.txt-left { text-align: right; } */
.invalid{ color: #ff0000; font-size: 16px }
.valid{ color: #008000; font-size: 16px }

.font-img { font-size: 20px; }
.font-img-r { font-size: 20px;  color: #ff0000; }
.font-img-g { font-size: 20px;  color: #008000; }
.font-img-b { font-size: 20px;  color: #0730fa; }
.font-img-c { font-size: 20px;  color: #333; }

.date + #btn-delete { position: relative;  right: 33px }


