<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vi">

<!-- 상위 3개 부서에 대한 년도별 채용인원수 조회 -->
<select id="hirement_top3_year" resultType='hashmap'>
<![CDATA[
select *
from (select department_name, to_char(hire_date, 'yyyy') unit
from employees e inner join
    (select rank, department_id, '(TOP'|| rank || ')'||department_name department_name
    	from (select department_id, dense_rank() over( order by count(*) desc ) rank
  		  from employees
    		group by department_id) e left outer join departments d using(department_id)
    where rank <= 3 ) r using(department_id) )
pivot ( count(unit) for unit
        in( '2001' as y2001, 
            '2002' as y2002,
            '2003' as y2003,
            '2004' as y2004,
            '2005' as y2005,
            '2006' as y2006,
            '2007' as y2007,
            '2008' as y2008,
            '2023' as y2023
               ))
order by department_name
]]>
</select>


<!-- 상위 3개 부서에 대한 월별 채용인원수 조회 -->
<select id='hirement_top3_month' resultType='hashmap'>
<![CDATA[   
select * from 
(select department_name, to_char(hire_date,'mm') unit
from employees e inner join 
    (select rank, department_id, '(TOP'|| rank || ')'||department_name department_name 
        from (select department_id, dense_rank() over( order by  count(*) desc ) rank
                from employees
                group by department_id) e left outer join departments d using(department_id)
    where rank <= 3) r using(department_id) ) 
pivot (  count(unit) for unit 
         in ( '01' as m01, '02' as m02, '03' as m03, '04' as m04, '05' as m05
            , '06' as m06, '07' as m07, '08' as m08, '09' as m09, '10' as m10, '11' as m11, '12' as m12  ) 
)
order by department_name
]]>
</select>


<!-- 년도별 채용인원수 -->
<select id='hirement_year' resultType='hashmap'>
select to_char( hire_date, 'yyyy')||'년' unit, count(*) count
from employees
group by to_char(hire_date, 'yyyy')
order by unit
</select>

<select id='hirement_month' resultType='hashmap'>
select to_char( hire_date, 'MM')||'월' unit, count(*) count
from employees
group by to_char(hire_date, 'MM')
order by unit
</select>

<!-- 부서별사원수 -->
<select id='department' resultType='hashmap'>
select department_id, nvl( department_name, '소속없음') department_name, count(employee_id) count
from employees e left outer join departments d using(department_id)
group by department_id, department_name
order by department_id
</select>
</mapper>