<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<!-- 회원정보변경 -->
<update id="update">
update member set
 <if test="pw != null">
 pw = #{pw, jdbcType=VARCHAR}, 
 salt = #{salt, jdbcType=VARCHAR},
 </if> 
 name = #{name},
 gender = #{gender}, 
 email = #{email, jdbcType=VARCHAR}, 
 birth = #{birth, jdbcType=VARCHAR},
 phone = #{phone, jdbcType=VARCHAR}, 
 post = #{post, jdbcType=VARCHAR}, 
 address = #{address, jdbcType=VARCHAR}, 
 social = #{social, jdbcType=VARCHAR}, 
 profile = #{profile, jdbcType=VARCHAR}
 
where id = #{id}
</update>


<!-- 회원 정보 신규 저장(회원가입) -->
<insert id="join">
insert into member(id, pw, name, salt, gender, email, birth, phone, post,
					address, social, profile)
values (
 #{id},
 #{pw, jdbcType=VARCHAR}, 
 #{name}, 
 #{salt, jdbcType=VARCHAR},
 #{gender}, 
 #{email, jdbcType=VARCHAR}, 
 #{birth, jdbcType=VARCHAR},
 #{phone, jdbcType=VARCHAR}, 
 #{post, jdbcType=VARCHAR}, 
 #{address, jdbcType=VARCHAR}, 
 #{social, jdbcType=VARCHAR}, 
 #{profile, jdbcType=VARCHAR})
</insert>


<!-- 아이디 존재 여부 조회 -->
<select id="id_check" resultType="integer">
select count(*) 
from member
where id = #{id}
</select>



<!-- 회원 비밀번호 변경 -->
<update id='change_pw'>
update member
set pw = #{pw}, salt = #{salt}
where id = #{id}
</update>

<!-- 회원의 아이디, 이메일 일치 여부 조회 -->
<select id='id_email' resultType='integer'>
select count(*) from member
where id =#{id} and email=#{email}
</select>

<!-- 회원의 이름 조회 -->
<select id='name' resultType='string'>
select name from member where id = #{id}
</select>

<!-- 회원의 솔트조회 -->
<select id='salt' resultType='string'>
select salt from member where id = #{id}
</select>

<!-- 로그인처리 -->
<select id='login' resultType='member.MemberVO'>
select to_char(birth, 'yyyy-mm-dd') birth, m.* from member m 
where id = #{id} and pw = #{pw}
</select>
</mapper>