<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="no">


<!-- 신규 공지글 저장 -->
<insert id='insert'>
insert into notice(title, content, writer)
values(#{title}, #{content}, #{writer})
</insert>

<!-- 공지글 목록 조회 -->
<select id='list' resultType='notice.NoticeVO'>
select n.*, name
from notice n inner join member m on n.writer = m.id
order by n.id desc
</select>
</mapper>