<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="trainer">
  	<select id="trainerAllList" resultType="trainer.TrainerDTO">
  		select g.gym_name , t.trainer_name , t.phone_number, t.price , t.trainer_picture from trainer t , gym g 
  		where t.gym_id = g.gym_id
  	</select>
 </mapper>